<div class="navBar">
    <h3 id="helpIcon" data-toggle="modal" data-target="#myModal">&nbsp;&nbsp;&nbsp;<span
            class="glyphicon glyphicon-question-sign pull-right"></span></h3>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <center>
                    <h4 class="modal-title" id="myModalLabel">Got some Queries? Let us Help you out</h4>
                </center>
            </div>
            <div class="modal-body">

                <!--Questions-->
                <div id="accordion" class="panel-group">
                    <div class="panel panel-info">

                        <a href="#first" data-toggle="collapse" data-parent="#accordion">
                            <div class="panel-heading">

                                <div class="panel-title">
                                    How did I do this?
                                    <span class="glyphicon glyphicon-menu-down more pull-right"></span>
                                </div>

                            </div>
                        </a>
                        <div class="panel-collapse collapse" id="first">
                            <div class="panel-body">
                                <p>Well its jus basic stuff that I've used here. Jus made a regualr Modal and triggered
                                    it onclick of the Help icon. And within the Modal I've added a Collapsible
                                    plugin.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">

                        <a href="#fourth" data-toggle="collapse" data-parent="#accordion">
                            <div class="panel-heading">

                                <div class="panel-title">
                                    Where can I use this?
                                    <span class="glyphicon glyphicon-menu-down more pull-right"></span>
                                </div>

                            </div>
                        </a>
                        <div class="panel-collapse collapse" id="fourth">
                            <div class="panel-body">
                                <p>You can use it for a FAQ section or on HELP section, Or you can even use it to
                                    provide some extra info about an issue. Or for displaying a complete terms and
                                    conditions or somethin as such. Below is an Example of use.</p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">

                        <a href="#second" data-toggle="collapse" data-parent="#accordion">
                            <div class="panel-heading">

                                <div class="panel-title">
                                    Who are your Clients?
                                    <span class="glyphicon glyphicon-menu-down more pull-right"></span>
                                </div>

                            </div>
                        </a>
                        <div class="panel-collapse collapse" id="second">
                            <div class="panel-body">
                                <!--START-->
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="thumbnail">
                                            <img src="http://www.crossingstv.com/wp-content/uploads/2012/07/300x100.png"
                                                 alt="img1">
                                            <div class="caption">
                                                <h3>Client Logo 1</h3>
                                                <p>We are in collaboration with this client from past 10years...</p>
                                                <p><a href="#" class="btn btn-primary btn-block" role="button">Read
                                                    More</a></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                                        <div class="thumbnail">
                                            <img src="http://www.crossingstv.com/wp-content/uploads/2012/07/300x100.png"
                                                 alt="img1">
                                            <div class="caption">
                                                <h3>Client Logo 1</h3>
                                                <p>We are in collaboration with this client from past 10years...</p>
                                                <p><a href="#" class="btn btn-primary btn-block" role="button">Read
                                                    More</a></p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!--STOP-->

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <a href="#third" data-toggle="collapse" data-parent="#accordion">
                            <div class="panel-heading">

                                <div class="panel-title">
                                    What was that?
                                    <span class="glyphicon glyphicon-menu-down more pull-right"></span>
                                </div>

                            </div>
                        </a>
                        <div class="panel-collapse collapse " id="third">
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success " data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div>
    <p class="pageDesc">FAQ BUTTON or HELP ICON made with BOOTSTRAP.</p>

    <p class="briefDesc">
        Click on the <span style="color:wheat;">HELP ICON on the top-right corner</span> of the page to get a MODAL with
        Questions. And when you click on it a Drop down is provided with the Answers to them.
    </p>

    <p class="briefDesc">
        To get rid of it click on the "close" button or the Close icon on the top or jus click anywhere outside the
        Modal.
    </p>
    <div>
