<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabulator Test</title>
    <link href="/static/tabulator.min.css" rel="stylesheet">
</head>
<body>
    <div class="table-controls-legend">Table Controls</div>
    <div class="table-controls">
          <button id="file-load-trigger">Open File</button>
    </div>

    <div id="example-table"></div>
            <script type="text/javascript" src="/static/tabulator.min.js"></script>
    <script type="text/javascript">
        //Build Tabulator
        var table = new Tabulator("#example-table", {
            height:311,
            layout:"fitColumns",
            autoColumns:true,
            placeholder:"Awaiting Data, Please Load File",
        });

        //trigger AJAX load on "Load Data via AJAX" button click
        $("#file-load-trigger").click(function(){
            table.setDataFromLocalFile();
        });
    </script>
</body>
</html>



